* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}



header {
    position: relative;
    width: 100%;
    margin: 25px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header .logo {
    width: 25vw;
    height: auto;

}

.mobile-btn {
    width: 50px;
    position: relative;
    height: 5px;
    background-color: coral;
    transition: 0.2s ease;
}

.mobile-btn::after,
.mobile-btn::before {
    content: "";
    width: 50px;
    display: block;
    height: 5px;
    background-color: coral;
    position: absolute;
    z-index: 10;
}

.mobile-btn::before {
    top: -15px;
}

.mobile-btn::after {
    top: 15px;
}

.mobile-btn.hide-hamburger::after {
    top: 10px;
    right: -15px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 10;
}

.mobile-btn.hide-hamburger::before {
    right: -15px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10;
}

nav {
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    background-color: #fff;
    transition: 0.2s ease;
}

nav.hidden-menu {
    top: -50vh;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li {
    width: 100px;
    margin: 10px 0;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .mobile-btn {
        display: none;
    }

    .hidden-menu {
        top: 0;
        left: 0;
    }

    nav {
        width: 100%;
        position: static;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav li {
        flex-basis: 100%;
        text-align: center;
    }

    nav li:hover {
        font-weight: bold;
    }

    nav a {
        font-size: 12pt;
        color: aqua;

    }

    nav a:hover {
        font-weight: bold;
    }
}


.banner {
    width: 100%;
    background: white url("assets/kontakt/background_image.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    padding-top: 25px;
}

.banner .container {
    padding-bottom: 25px;
    text-align: left;
}

.banner h1 {
    margin: 0;
    font-weight: bold;
    padding-top: 25%;
    font-size: 4em;
    text-align: left;
}

.banner h2 {
    margin: 0;
    font-size: 2em;
    text-align: left;
}


.banner p::after {
    content: "";
    display: block;
    width: 50%;
    border-top: 1px solid white;
    color: white;
    margin: 20px 0;
}

.home a {
    text-decoration: none;
    color: white;
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    .banner {
        padding-top: 35px;
        font-size: 1.2em;
    }

    .banner .container {
        padding-bottom: 35px;
        text-align: left;
    }

    .banner p::after {
        margin: 30px 0;
    }

    .banner a {
        margin: 30px 0;
    }
}

@media screen and (min-width: 1200px) {
    .banner {
        padding-top: 35px;
        font-size: 1.4em;
    }

    .banner .container {
        padding-bottom: 35px;
    }

    .banner h1 {
        font-size: 100pt;
        font-weight: 900;

    }

    .banner h2 {
        font-size: 54pt;
    }

    .banner p {
        font-size: 18pt;
    }

    .banner p::after {
        margin: 40px 0;
    }

    .banner a {
        font-size: 18pt;
        font-style: italic;
        margin: 40px 0;
    }
}
.contact  h2{
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.contact h3{
    width: 100%;
    text-align: center;
    color: grey;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact h3::after{
    content: "";
    display: block;
    width: 120px;
    margin: 10px auto;
    height: 1px;
    /*color: black;*/
    background-color: black;
}

.contact p {
    font-size: 0.8em;
    color: grey;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.contact iframe {
    border: none;
    width: 100%;
}

.contact .logo{
    display: none;
}


