* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    /*height: 10vh;*/
    width: 100%;
    margin: 25px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header .logo {
    width: 25vw;
    height: auto;

}

.mobile-btn {
    width: 50px;
    position: relative;
    height: 5px;
    background-color: coral;
    transition: 0.2s ease;
}

.mobile-btn::after,
.mobile-btn::before {
    content: "";
    width: 50px;
    display: block;
    height: 5px;
    background-color: coral;
    position: absolute;
    z-index: 10;
}

.mobile-btn::before {
    top: -15px;
}

.mobile-btn::after {
    top: 15px;
}

.mobile-btn.hide-hamburger::after {
    top: 10px;
    right: -15px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 10;
}

.mobile-btn.hide-hamburger::before {
    right: -15px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10;
}

nav {
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    background-color: #fff;
    transition: 0.2s ease;
}

nav.hidden-menu {
    top: -50vh;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li {
    width: 100px;
    margin: 10px 0;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .mobile-btn {
        display: none;
    }

    .hidden-menu {
        top: 0;
        left: 0;
    }

    nav {
        width: 100%;
        position: static;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav li {
        flex-basis: 100%;
        text-align: center;
    }

    nav li:hover {
        font-weight: bold;
    }

    nav a {
        font-size: 12pt;
        color: aqua;

    }

    nav a:hover {
        font-weight: bold;
    }
}

.home {
    width: 100%;
    background: white url("assets/home/background_image.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    padding-top: 25px;
}