* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    margin: 25px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header .logo {
    width: 25vw;
    height: auto;
}

.mobile-btn {
    width: 50px;
    position: relative;
    height: 5px;
    background-color: rgb(7, 179, 113);
    transition: 0.2s ease;
}

.mobile-btn::after,
.mobile-btn::before {
    content: "";
    width: 50px;
    display: block;
    height: 5px;
    background-color: rgb(7, 179, 113);
    position: absolute;
    z-index: 10;
}

.mobile-btn::before {
    top: -15px;
}

.mobile-btn::after {
    top: 15px;
}

.mobile-btn.hide-hamburger::after {
    top: 10px;
    right: -15px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 10;
}

.mobile-btn.hide-hamburger::before {
    right: -15px;
    top: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10;
}

nav {
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    background-color: #fff;
    transition: 0.2s ease;
}

nav.hidden-menu {
    top: -50vh;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav li {
    width: 100px;
    margin: 10px 0;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .mobile-btn {
        display: none;
    }

    .hidden-menu {
        top: 0;
        left: 0;
    }

    nav {
        width: 100%;
        position: static;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav li {
        flex-basis: 100%;
        text-align: center;
    }

    nav li:hover {
        font-weight: bold;
    }

    nav a {
        font-size: 12pt;
        font-weight: 600;
        color: rgb(7, 179, 113);
    }

    nav a:hover {
        font-weight: bold;
    }
}

.home {
    width: 100%;
    background: white url("assets/home/background_image.jpg") no-repeat center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    padding-top: 25px;
}

.home .container {
    padding-bottom: 25px;
}

.home h1 {
    margin: 0;
    font-weight: bold;
    padding-top: 25%;
    font-size: 4em;
}

.home h2 {
    margin: 0;
    font-size: 2em;
}

.home p::after {
    content: "";
    display: block;
    width: 50%;
    border-top: 1px solid white;
    color: white;
    margin: 20px 0;
}

.home a {
    text-decoration: none;
    color: white;
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    .home {
        padding-top: 35px;
        font-size: 1.2em;
    }

    .home .container {
        padding-bottom: 35px;
    }

    .home p::after {
        margin: 30px 0;
    }

    .home a {
        margin: 30px 0;
    }
}

@media screen and (min-width: 1200px) {
    .home {
        padding-top: 35px;
        font-size: 1.4em;
    }

    .home .container {
        padding-bottom: 35px;
    }

    .home h1 {
        font-size: 100pt;
        font-weight: 900;
    }

    .home h2 {
        font-size: 54pt;
    }

    .home p {
        font-size: 18pt;
    }

    .home p::after {
        margin: 40px 0;
    }

    .home a {
        font-size: 18pt;
        font-style: italic;
        margin: 40px 0;
    }
}

section.aboutUs div.container h2 {
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    font-weight: 900;
    padding-top: 100px;
}

section.aboutUs div.container h2 p {
    font-size: 28px;
    line-height: 60px;
    font-weight: 300;
    text-align: center;
}

section.aboutUs div.container h2 p::after {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: rgb(114, 113, 113);
    text-align: center;
    margin: 20px auto;
}

section.aboutUs div.container p.motto {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    section.aboutUs div.container h2 {
        font-size: 55px;
        padding-top: 100px;
    }

    section.aboutUs div.container h2 p {
        font-size: 32px;
    }

    section.aboutUs div.container p.motto {
        font-size: 20px;
        padding: 20px 50px 30px 50px;
    }
}

@media screen and (min-width: 1200px) {
    section.aboutUs div.container h2 {
        font-size: 60px;
        padding-top: 100px;
    }

    section.aboutUs div.container h2 p {
        font-size: 35px;
    }

    section.aboutUs div.container p.motto {
        font-size: 20px;
        padding: 20px 150px 30px 150px;
    }
}

section.aboutUs div.items-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section.aboutUs div.items-wrapper .item {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

section.aboutUs div.items-wrapper .item img {
    width: 80px;
    height: 80px;
    margin: 30px 0;
}

section.aboutUs div.items-wrapper .item h5 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
}

section.aboutUs div.items-wrapper .item p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    font-weight: 300;
    padding: 30px 40px 30px 40px;
}

@media screen and (min-width: 768px) {
    section.aboutUs div.items-wrapper {
        flex-direction: row;
    }

    section.aboutUs div.items-wrapper .item img {
        width: 100px;
        height: 100px;
    }

    section.aboutUs div.items-wrapper .item h5 {
        font-size: 24px;
    }

    section.aboutUs div.items-wrapper .item {
        width: 50%;
        margin: 50px 0;
    }

    section.aboutUs div.items-wrapper .item p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    section.aboutUs div.items-wrapper .item {
        width: 33.33%;
        margin: 60px 0;
    }
}

section.aboutUs div.numbers-wrapper {
    /* height: 230px; */
    background-color: rgb(228, 227, 227);
}

section.aboutUs div.numbers-wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.aboutUs div.numbers-wrapper .container .number {
    width: 100%;
    text-align: center;
    padding: 20px;
}

section.aboutUs div.numbers-wrapper .container .number h3 {
    font-size: 60px;
    line-height: 60px;
    color: rgb(7, 179, 113);
    font-weight: 900;
    padding: 20px;
}

section.aboutUs div.numbers-wrapper .container .number p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    section.aboutUs div.numbers-wrapper .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.aboutUs div.numbers-wrapper .container .number {
        width: 50%;
    }

    section.aboutUs div.numbers-wrapper .container .number:nth-child(3),
    .number:nth-child(4) {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    section.aboutUs div.numbers-wrapper {
        height: 230px;
        align-items: center;
    }

    section.aboutUs div.numbers-wrapper .container {
        height: 230px;
    }

    section.aboutUs div.numbers-wrapper .container .number {
        width: 25%;
        padding: 0;
        margin: 0;
    }

    section.aboutUs div.numbers-wrapper .container .number h3 {
        padding-top: 0;
    }

    section.aboutUs div.numbers-wrapper .container .number p {
        margin: 0;
        padding: 0;
    }
}

section.aboutUs div.collab {
    /* height: 400px; */
    background-color: rgb(7, 179, 113);
}

section.aboutUs div.collab .container h4 {
    font-size: 35px;
    font-weight: 900;
    line-height: 45px;
    color: #fff;
    text-align: center;
    padding: 80px 0 0 0;
}

section.aboutUs div.collab .container p {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

section.aboutUs div.collab .container p::after {
    content: "";
    display: block;
    margin: 20px auto;
    background-color: #fff;
    height: 1px;
    width: 200px;
}

section.aboutUs div.collab .container .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 70px;
    text-align: center;
}

section.aboutUs div.collab .container .logo-wrapper .logo {
    width: 100%;
    padding: 30px 60px;
}

@media screen and (min-width: 768px) {
    section.aboutUs div.collab .container .logo-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.aboutUs div.collab .container .logo-wrapper .logo {
        width: 50%;
        padding: 30px 60px;
    }
}

@media screen and (min-width: 1200px) {
    section.aboutUs div.collab .container .logo-wrapper .logo {
        width: 25%;
        margin-bottom: 70px;
    }

    section.aboutUs div.collab .container .logo-wrapper {
        align-items: baseline;
    }
}

.join-to-us {
    width: 100%;
}

.join-to-us h2 {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.join-to-us h3 {
    width: 100%;
    text-align: center;
    color: grey;
    font-weight: 400;
    margin-bottom: 20px;
}

.join-to-us .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

.single-card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
}

.single-card h4 {
    font-size: 1.4em;
    font-weight: lighter;
    margin: 15px 0;
}

.single-card h4::after {
    content: "";
    display: block;
    width: 120px;
    margin: 10px auto;
    height: 1px;
    /*color: black;*/
    background-color: black;
}

.single-card span {
    color: aqua;
}

.single-card p {
    text-align: center;
    font-weight: 300;
    line-height: 1.3em;
}

.banner {
    width: 100%;
    text-align: center;
    background-color: rgb(7, 179, 113);
    padding-bottom: 25px;
}

.banner .container {
    text-align: center;
}

.banner p {
    color: white;

    line-height: 1.2em;
}

.motto {
    padding: 20px 0 0;
}

.motto:after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;

    margin: 25px auto;
}

.sign {
    padding: 0 0 25px;
}

.home a {
    text-decoration: none;
    color: rgb(7, 179, 113);
    background-color: white;
    outline: none;
    padding: 10px 25px;
    margin: 25px 0;
}

section.news-articles div.intro {
    /* height: 250px; */
    margin-top: 80px;
}

section.news-articles div.intro h3 {
    font-size: 30px;
    line-height: 40px;
    color: black;
    font-weight: 900;
    text-align: center;
    padding: 20px 0;
}

section.news-articles div.intro h4 {
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: 300;
    text-align: center;
}

section.news-articles div.intro h4::after {
    content: "";
    display: block;
    margin: 20px auto;
    background-color: rgb(192, 192, 192);
    height: 1px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
}

section.news-articles .articles::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 111px solid rgb(228, 227, 227);
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: -4;
}

section.news-articles div.articles {
    background-color: rgb(228, 227, 227);
    width: 100%;
}

section.news-articles .container .articles-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section.news-articles .container .articles-wrapper .article {
    margin: 20px 0;
    border-bottom: 3px solid rgb(7, 179, 113);
    background-color: #fff;
    width: 100%;
}

section.news-articles div.container div.articles-wrapper .article img {
    width: 100%;
}

section.news-articles div.container div.articles-wrapper .article h5 {
    padding-top: 20px;
    font-size: 18pt;
    font-weight: 100;
    line-height: 36px;
    margin: 0 0 0 15px;
}

section.news-articles div.container div.articles-wrapper .article h6 {
    font-size: 13pt;
    line-height: 20px;
    font-weight: 100;
    color: rgb(107, 107, 107);
    margin: 0 0 15px 15px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    section.news-articles div.intro h3 {
        font-size: 33px;
        line-height: 50px;
    }

    section.news-articles div.intro h4 {
        font-size: 28px;
    }

    section.news-articles .container .articles-wrapper {
        flex-direction: row;
    }

    section.news-articles .container .articles-wrapper .article {
        width: 45%;
        margin: 20px auto;
    }
}

@media screen and (min-width: 1200px) {
    section.news-articles div.intro h3 {
        font-size: 36px;
        line-height: 50px;
    }

    section.news-articles div.intro h4 {
        font-size: 30px;
    }

    section.news-articles .container .articles-wrapper {
        flex-direction: row;
    }

    section.news-articles .container .articles-wrapper .article {
        width: 30%;
        margin: 20px auto;
    }
}

.news-articles .button {
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    line-height: 30px;
    background-color: #fff;
    color: rgb(7, 179, 113);
    text-decoration: none;
    margin: 40px 0 100px 0;
}

@media screen and (min-width: 768px) {
    .btn {
        padding: 10px 80px;
    }
}

/* Sekcja contact */

.contact .container h3 {
    font-size: 30px;
    line-height: 40px;
    color: black;
    font-weight: 900;
    text-align: center;
    padding: 20px 0;
    margin-top: 70px;
}

.contact .container h4 {
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: 300;
    text-align: center;
}

.contact .container h4::after {
    content: "";
    display: block;
    margin: 20px auto;
    background-color: rgb(192, 192, 192);
    height: 1px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.contact iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.back {
    width: 100%;
    background-color: rgb(228, 227, 227);
}

.contact-card {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    top: -150px;
    overflow: hidden;
}

.contact-card form {
    width: 100%;
}

form:first-child {
    margin-top: 100px;
    z-index: 5;
}

.form-wrapper {
    position: relative;
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}

.form-wrapper p,
label {

    position: absolute;
    top: -25px;
}

.form-wrapper p {
    right: 50px;
    color: rgb(7, 179, 113);
}

.form-wrapper label {
    left: 5%;
}

.form-wrapper input,
.form-wrapper textarea {
    width: 90%;
    box-shadow: none;
    height: 30px;
}

.form-wrapper textarea {
    min-height: 150px;
}

.contact-card button {
    width: 30%;
    background-color: rgb(7, 179, 113);
    color: white;
    line-height: 200%;
    outline: none;
    border: none;
    margin: 30px 0 80px 9%;
}

footer {
    background-color: rgb(201, 199, 199);
    font-size: 10pt;
    padding: 20px 0;
    height: 100%;
}

footer .container .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .facebook {
    height: 20px;
    width: 15px;
}

footer .container .footer-wrap a,
.facebook,
p.tekst {
    margin: 0;
    width: 33.33%;
}

@media screen and (min-width:768px) {
    footer {
        font-size: 12pt;
    }
}

@media screen and (min-width:1200px) {
    footer {
        font-size: 16pt;
    }
}